LASTFM_API_KEY=
LASTFM_USERNAME=pdugan20
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_WEBHOOK_VERIFY_TOKEN=
PLEX_URL=
PLEX_TOKEN=
PLEX_WEBHOOK_SECRET=
TMDB_API_KEY=
LETTERBOXD_USERNAME=
DISCOGS_PERSONAL_TOKEN=
DISCOGS_USERNAME=patdugan
APPLE_MUSIC_DEVELOPER_TOKEN=
FANART_TV_API_KEY=
