{
  "openapi": "3.1.0",
  "info": {
    "title": "Rewind API",
    "version": "1.0.0",
    "description": "Personal data aggregation API. Syncs and serves data from Strava, Last.fm, Discogs, Plex, Letterboxd, and Trakt.\n\n## Domains\n\n| Domain | Source | Description |\n|--------|--------|-------------|\n| **Listening** | Last.fm | Scrobbles, top artists/albums/tracks, streaks, stats |\n| **Running** | Strava | Activities, splits, gear, personal records, year summaries |\n| **Watching** | Plex, Letterboxd | Movies, TV shows, watch history, ratings, reviews |\n| **Collecting** | Discogs, Trakt | Vinyl/CD collection, physical media, wantlist |\n\n## Authentication\n\nAll endpoints require a Bearer token. There are two key types:\n\n- **Read keys** (`rw_live_...`) — access all GET endpoints\n- **Admin keys** (`rw_admin_...`) — access all endpoints including sync triggers and data management\n\nPass your key in the Authorization header: `Authorization: Bearer rw_live_...`\n\n## Pagination\n\nList endpoints return paginated responses:\n\n```json\n{\n  \"data\": [...],\n  \"pagination\": { \"page\": 1, \"limit\": 20, \"total\": 150, \"total_pages\": 8 }\n}\n```\n\nThe activity feed uses cursor-based pagination instead.\n\n## Quick Start\n\n```bash\n# Check the API is up\ncurl https://api.rewind.rest/v1/health\n\n# Fetch recent scrobbles (requires read key)\ncurl -H \"Authorization: Bearer rw_live_...\" \\\n  https://api.rewind.rest/v1/listening/recent\n\n# Fetch running stats\ncurl -H \"Authorization: Bearer rw_live_...\" \\\n  https://api.rewind.rest/v1/running/stats\n```\n\n## Errors\n\nAll errors follow the same envelope:\n\n```json\n{ \"error\": \"Not found\", \"status\": 404 }\n```\n\nCommon status codes: 400 (bad request), 401 (unauthorized), 404 (not found), 500 (server error).",
    "contact": {
      "url": "https://github.com/pdugan20/rewind"
    }
  },
  "servers": [
    {
      "url": "https://api.rewind.rest",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Listening",
      "description": "Last.fm scrobbles, top charts, streaks, and stats."
    },
    {
      "name": "Running",
      "description": "Strava activities, splits, gear, records, and year summaries."
    },
    {
      "name": "Watching",
      "description": "Movies, TV shows, watch history, ratings, and reviews from Plex and Letterboxd."
    },
    {
      "name": "Collecting",
      "description": "Vinyl/CD collection from Discogs and physical media from Trakt."
    },
    {
      "name": "Feed",
      "description": "Cross-domain activity feed with cursor-based pagination."
    },
    {
      "name": "Search",
      "description": "Full-text search across all domains."
    },
    {
      "name": "Images",
      "description": "Image proxy with on-the-fly transforms via Cloudflare Images."
    },
    {
      "name": "System",
      "description": "Health checks and sync status."
    },
    {
      "name": "Admin",
      "description": "API key management, sync triggers, and data administration. Requires admin key."
    },
    {
      "name": "Webhooks",
      "description": "Inbound webhook receivers for Strava and Plex. No auth required."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key. Read keys (rw_live_...) access GET endpoints. Admin keys (rw_admin_...) access all endpoints."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status",
          "timestamp"
        ]
      },
      "SyncHealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "domains": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "last_sync": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                },
                "status": {
                  "type": "string",
                  "example": "completed"
                },
                "sync_type": {
                  "type": "string",
                  "example": "scrobbles"
                },
                "items_synced": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "duration_ms": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "error": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "error_rate": {
                  "type": "number",
                  "example": 0
                }
              },
              "required": [
                "last_sync",
                "status",
                "sync_type",
                "items_synced",
                "duration_ms",
                "error",
                "error_rate"
              ]
            }
          }
        },
        "required": [
          "status",
          "domains"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not found"
          },
          "status": {
            "type": "integer",
            "example": 404
          }
        },
        "required": [
          "error",
          "status"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "example": 20
          },
          "total": {
            "type": "integer",
            "example": 150
          },
          "total_pages": {
            "type": "integer",
            "example": 8
          }
        },
        "required": [
          "page",
          "limit",
          "total",
          "total_pages"
        ]
      },
      "ImageAttachment": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://cdn.rewind.rest/..."
          },
          "thumbhash": {
            "type": [
              "string",
              "null"
            ],
            "example": "YJqGPQw7d4..."
          },
          "dominant_color": {
            "type": [
              "string",
              "null"
            ],
            "example": "#1a1a2e"
          },
          "accent_color": {
            "type": [
              "string",
              "null"
            ],
            "example": "#e94560"
          }
        },
        "required": [
          "url",
          "thumbhash",
          "dominant_color",
          "accent_color"
        ]
      },
      "ImageAlternativesResponse": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string"
              },
              "entity_type": {
                "type": "string"
              },
              "entity_id": {
                "type": "string"
              }
            },
            "required": [
              "domain",
              "entity_type",
              "entity_id"
            ]
          },
          "current_source": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_override": {
            "type": "boolean"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string",
                  "example": "cover-art-archive"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "width": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "height": {
                  "type": [
                    "integer",
                    "null"
                  ]
                }
              },
              "required": [
                "source",
                "url",
                "width",
                "height"
              ]
            }
          }
        },
        "required": [
          "entity",
          "current_source",
          "is_override",
          "alternatives"
        ]
      },
      "ImageResultResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "entity_type": {
            "type": "string"
          },
          "entity_id": {
            "type": "string"
          },
          "image_url": {
            "type": "string",
            "format": "uri"
          },
          "source": {
            "type": "string"
          },
          "is_override": {
            "type": "boolean"
          },
          "image_version": {
            "type": "integer"
          },
          "thumbhash": {
            "type": [
              "string",
              "null"
            ]
          },
          "dominant_color": {
            "type": [
              "string",
              "null"
            ]
          },
          "accent_color": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "domain",
          "entity_type",
          "entity_id",
          "image_url",
          "source",
          "is_override",
          "image_version",
          "thumbhash",
          "dominant_color",
          "accent_color"
        ]
      },
      "ExportResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "example": "listening"
          },
          "exported_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15T12:00:00.000Z"
          },
          "tables": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {}
            }
          }
        },
        "required": [
          "domain",
          "exported_at",
          "tables"
        ]
      },
      "SyncCompletedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "completed"
            ]
          },
          "items_synced": {
            "type": "integer",
            "example": 42
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status",
          "items_synced"
        ]
      },
      "WatchingSyncResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/WatchingPlexSyncResponse"
          },
          {
            "$ref": "#/components/schemas/WatchingLetterboxdSyncResponse"
          }
        ]
      },
      "WatchingPlexSyncResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "plex"
            ]
          },
          "movies_synced": {
            "type": "integer"
          },
          "shows_synced": {
            "type": "integer"
          }
        },
        "required": [
          "success",
          "source",
          "movies_synced",
          "shows_synced"
        ]
      },
      "WatchingLetterboxdSyncResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "letterboxd"
            ]
          },
          "synced": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          }
        },
        "required": [
          "success",
          "source",
          "synced",
          "skipped"
        ]
      },
      "SyncStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "completed"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status"
        ]
      },
      "ActivityDeletedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "deleted"
            ]
          },
          "strava_id": {
            "type": "integer",
            "example": 12345
          }
        },
        "required": [
          "status",
          "strava_id"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Returns API health status and current timestamp.",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health/sync": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Sync health status",
        "description": "Returns the latest sync status for each data domain, including last sync time, items synced, duration, and 24-hour error rate.",
        "responses": {
          "200": {
            "description": "Sync status for all domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncHealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/now-playing": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Now playing",
        "description": "Returns the currently playing or most recently scrobbled track from Last.fm.",
        "responses": {
          "200": {
            "description": "Now playing info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_playing": {
                      "type": "boolean"
                    },
                    "track": {},
                    "scrobbled_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "is_playing",
                    "scrobbled_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/recent": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Recent scrobbles",
        "description": "Returns the most recent scrobbles. Supports date filtering via date, from, and to params.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Single day (YYYY-MM-DD). Overrides from/to.",
              "example": "2025-02-17"
            },
            "required": false,
            "description": "Single day (YYYY-MM-DD). Overrides from/to.",
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range start, inclusive (ISO 8601)",
              "example": "2025-02-01T00:00:00Z"
            },
            "required": false,
            "description": "Range start, inclusive (ISO 8601)",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range end, inclusive (ISO 8601)",
              "example": "2025-02-28T23:59:59Z"
            },
            "required": false,
            "description": "Range end, inclusive (ISO 8601)",
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent scrobbles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "track": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "url"
                            ]
                          },
                          "artist": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "album": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "name": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "image": {}
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "scrobbled_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "track",
                          "artist",
                          "album",
                          "scrobbled_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/top/artists": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Top artists",
        "description": "Returns top artists for a given time period.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7day",
                "1month",
                "3month",
                "6month",
                "12month",
                "overall"
              ],
              "default": "7day",
              "example": "7day"
            },
            "required": false,
            "name": "period",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Top artists list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": "number"
                          },
                          "image": {},
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "rank",
                          "id",
                          "name",
                          "detail",
                          "playcount",
                          "url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "period",
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/top/albums": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Top albums",
        "description": "Returns top albums for a given time period.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7day",
                "1month",
                "3month",
                "6month",
                "12month",
                "overall"
              ],
              "default": "7day",
              "example": "7day"
            },
            "required": false,
            "name": "period",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Top albums list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": "number"
                          },
                          "image": {},
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "rank",
                          "id",
                          "name",
                          "detail",
                          "playcount",
                          "url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "period",
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/top/tracks": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Top tracks",
        "description": "Returns top tracks for a given time period.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7day",
                "1month",
                "3month",
                "6month",
                "12month",
                "overall"
              ],
              "default": "7day",
              "example": "7day"
            },
            "required": false,
            "name": "period",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Top tracks list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": "number"
                          },
                          "image": {},
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "rank",
                          "id",
                          "name",
                          "detail",
                          "playcount",
                          "url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "period",
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/stats": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Listening stats",
        "description": "Returns overall listening statistics.",
        "responses": {
          "200": {
            "description": "Listening statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_scrobbles": {
                      "type": "number"
                    },
                    "unique_artists": {
                      "type": "number"
                    },
                    "unique_albums": {
                      "type": "number"
                    },
                    "unique_tracks": {
                      "type": "number"
                    },
                    "registered_date": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "years_tracking": {
                      "type": "number"
                    },
                    "scrobbles_per_day": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "total_scrobbles",
                    "unique_artists",
                    "unique_albums",
                    "unique_tracks",
                    "registered_date",
                    "years_tracking",
                    "scrobbles_per_day"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/history": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Scrobble history",
        "description": "Returns paginated scrobble history with optional filters.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "example": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "2024-01-01T00:00:00.000Z"
            },
            "required": false,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "2024-12-31T23:59:59.999Z"
            },
            "required": false,
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "Radiohead"
            },
            "required": false,
            "name": "artist",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "OK Computer"
            },
            "required": false,
            "name": "album",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Scrobble history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "track": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "url"
                            ]
                          },
                          "artist": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "album": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "name": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "image": {}
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "scrobbled_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "track",
                          "artist",
                          "album",
                          "scrobbled_at"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/artists": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Browse artists",
        "description": "Returns paginated list of all artists.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "example": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "playcount",
                "name"
              ],
              "default": "playcount",
              "example": "playcount"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "example": "desc"
            },
            "required": false,
            "name": "order",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "Radiohead"
            },
            "required": false,
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "url": {
                            "type": "string"
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "playcount",
                          "url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/albums": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Browse albums",
        "description": "Returns paginated list of all albums.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "example": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "playcount",
                "name",
                "recent"
              ],
              "default": "playcount",
              "example": "playcount"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "example": "desc"
            },
            "required": false,
            "name": "order",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "Radiohead"
            },
            "required": false,
            "name": "artist",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "OK Computer"
            },
            "required": false,
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Album list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "artist": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "playcount": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "url": {
                            "type": "string"
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "artist",
                          "playcount",
                          "url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/artists/{id}": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Artist detail",
        "description": "Returns detailed information about an artist including top albums and tracks.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "42"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "mbid": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "playcount": {
                      "type": "number"
                    },
                    "scrobble_count": {
                      "type": "number"
                    },
                    "image": {},
                    "top_albums": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": "number"
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "playcount"
                        ]
                      }
                    },
                    "top_tracks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scrobble_count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "scrobble_count"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mbid",
                    "url",
                    "playcount",
                    "scrobble_count",
                    "top_albums",
                    "top_tracks"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/albums/{id}": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Album detail",
        "description": "Returns detailed information about an album including tracks.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "42"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Album detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "mbid": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "playcount": {
                      "type": "number"
                    },
                    "image": {},
                    "artist": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    },
                    "tracks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scrobble_count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "scrobble_count"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mbid",
                    "url",
                    "playcount",
                    "artist",
                    "tracks"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/calendar": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Scrobble calendar",
        "description": "Returns daily scrobble counts for a given year.",
        "parameters": [
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "example": 2024
            },
            "required": false,
            "name": "year",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "number"
                    },
                    "days": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "date",
                          "count"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    },
                    "max_day": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string"
                        },
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "date",
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "year",
                    "days",
                    "total",
                    "max_day"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/trends": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Listening trends",
        "description": "Returns monthly trend data for a given metric.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "scrobbles",
                "artists",
                "albums",
                "tracks"
              ],
              "default": "scrobbles",
              "example": "scrobbles"
            },
            "required": false,
            "name": "metric",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "2024-01-01T00:00:00.000Z"
            },
            "required": false,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "2024-12-31T23:59:59.999Z"
            },
            "required": false,
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Trend data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metric": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "period": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "period",
                          "value"
                        ]
                      }
                    }
                  },
                  "required": [
                    "metric",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/streaks": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Listening streaks",
        "description": "Returns current and longest listening streaks.",
        "responses": {
          "200": {
            "description": "Streak data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current": {
                      "type": "object",
                      "properties": {
                        "days": {
                          "type": "number"
                        },
                        "start_date": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "total_scrobbles": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "days",
                        "start_date",
                        "total_scrobbles"
                      ]
                    },
                    "longest": {
                      "type": "object",
                      "properties": {
                        "days": {
                          "type": "number"
                        },
                        "start_date": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "end_date": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "total_scrobbles": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "days",
                        "start_date",
                        "end_date",
                        "total_scrobbles"
                      ]
                    }
                  },
                  "required": [
                    "current",
                    "longest"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/year/{year}": {
      "get": {
        "tags": [
          "Listening"
        ],
        "summary": "Year in review",
        "description": "Returns year-in-review listening data.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "2024"
            },
            "required": true,
            "name": "year",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Year in review data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "number"
                    },
                    "total_scrobbles": {
                      "type": "number"
                    },
                    "unique_artists": {
                      "type": "number"
                    },
                    "unique_albums": {
                      "type": "number"
                    },
                    "unique_tracks": {
                      "type": "number"
                    },
                    "top_artists": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scrobbles": {
                            "type": "number"
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "scrobbles"
                        ]
                      }
                    },
                    "top_albums": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "artist": {
                            "type": "string"
                          },
                          "scrobbles": {
                            "type": "number"
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "artist",
                          "scrobbles"
                        ]
                      }
                    },
                    "top_tracks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "artist": {
                            "type": "string"
                          },
                          "scrobbles": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "artist",
                          "scrobbles"
                        ]
                      }
                    },
                    "monthly": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "month": {
                            "type": "string"
                          },
                          "scrobbles": {
                            "type": "number"
                          },
                          "unique_artists": {
                            "type": "number"
                          },
                          "unique_albums": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "month",
                          "scrobbles",
                          "unique_artists",
                          "unique_albums"
                        ]
                      }
                    }
                  },
                  "required": [
                    "year",
                    "total_scrobbles",
                    "unique_artists",
                    "unique_albums",
                    "unique_tracks",
                    "top_artists",
                    "top_albums",
                    "top_tracks",
                    "monthly"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/admin/filters": {
      "get": {
        "tags": [
          "Listening",
          "Admin"
        ],
        "summary": "List listening filters",
        "description": "Returns all listening filters.",
        "responses": {
          "200": {
            "description": "Filter list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "filter_type": {
                            "type": "string"
                          },
                          "pattern": {
                            "type": "string"
                          },
                          "scope": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "reason": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "created_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "filter_type",
                          "pattern",
                          "scope",
                          "reason",
                          "created_at"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Listening",
          "Admin"
        ],
        "summary": "Create listening filter",
        "description": "Creates a new listening filter.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter_type": {
                    "type": "string",
                    "example": "holiday"
                  },
                  "pattern": {
                    "type": "string",
                    "example": "Christmas"
                  },
                  "scope": {
                    "type": "string",
                    "example": "album"
                  },
                  "reason": {
                    "type": "string",
                    "example": "Seasonal music"
                  }
                },
                "required": [
                  "filter_type",
                  "pattern",
                  "scope"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Filter created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "filter_type": {
                      "type": "string"
                    },
                    "pattern": {
                      "type": "string"
                    },
                    "scope": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "reason": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "created_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "filter_type",
                    "pattern",
                    "scope",
                    "reason",
                    "created_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/admin/filters/{id}": {
      "delete": {
        "tags": [
          "Listening",
          "Admin"
        ],
        "summary": "Delete listening filter",
        "description": "Deletes a listening filter by ID.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "42"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Filter deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted_id": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "deleted_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/admin/listening/backfill-images": {
      "post": {
        "tags": [
          "Listening",
          "Admin"
        ],
        "summary": "Backfill listening images",
        "description": "Backfills missing images for albums and/or artists.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "albums",
                      "artists",
                      "all"
                    ],
                    "default": "albums",
                    "example": "albums"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200,
                    "default": 50,
                    "example": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backfill results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "success",
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/running/stats": {
      "get": {
        "tags": [
          "Running"
        ],
        "summary": "Lifetime running statistics",
        "description": "Returns aggregate lifetime running statistics.",
        "responses": {
          "200": {
            "description": "Lifetime stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_runs": {
                          "type": "number"
                        },
                        "total_distance_mi": {
                          "type": "number"
                        },
                        "total_elevation_ft": {
                          "type": "number"
                        },
                        "total_duration": {
                          "type": "string"
                        },
                        "avg_pace": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "years_active": {
                          "type": "number"
                        },
                        "first_run": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "eddington_number": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "total_runs",
                        "total_distance_mi",
                        "total_elevation_ft",
                        "total_duration",
                        "avg_pace",
                        "years_active",
                        "first_run",
                        "eddington_number"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/running/stats/years": {
      "get": {
        "tags": [
          "Running"
        ],
        "summary": "All year summaries",
        "description": "Returns running summaries for all years.",
        "responses": {
          "200": {
            "description": "Year summaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "number"
                          },
                          "total_runs": {
                            "type": "number"
                          },
                          "total_distance_mi": {
                            "type": "number"
                          },
                          "total_elevation_ft": {
                            "type": "number"
                          },
                          "total_duration_s": {
                            "type": "number"
                          },
                          "avg_pace": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "longest_run_mi": {
                            "type": "number"
                          },
                          "race_count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "year",
                          "total_runs",
                          "total_distance_mi",
                          "total_elevation_ft",
                          "total_duration_s",
                          "avg_pace",
                          "longest_run_mi",
                          "race_count"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/running/stats/years/{year}": {
      "get": {
        "tags": [
          "Running"
        ],
        "summary": "Single year summary",
        "description": "Returns running summary for a specific year.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "year",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Year summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "year": {
                          "type": "number"
                        },
                        "total_runs": {
                          "type": "number"
                        },
                        "total_distance_mi": {
                          "type": "number"
                        },
                        "total_elevation_ft": {
                          "type": "number"
                        },
                        "total_duration_s": {
                          "type": "number"
                        },
                        "avg_pace": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "longest_run_mi": {
                          "type": "number"
                        },
                        "race_count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "year",
                        "total_runs",
                        "total_distance_mi",
                        "total_elevation_ft",
                        "total_duration_s",
                        "avg_pace",
                        "longest_run_mi",
                        "race_count"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/running/prs": {
      "get": {
        "tags": [
          "Running"
        ],
        "summary": "Personal records",
        "description": "Returns personal records for standard race distances.",
        "responses": {
          "200": {
            "description": "Personal records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "distance": {
                            "type": "string"
                          },
                          "distance_label": {
                            "type": "string"
                          },
                          "time": {
                            "type": "string"
                          },
                          "time_s": {
                            "type": "number"
                          },
                          "pace": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "activity_id": {
                            "type": "number"
                          },
                          "activity_name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "distance",
                          "distance_label",
                          "time",
                          "time_s",
                          "pace",
                          "date",
                          "activity_id",
                          "activity_name"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/running/recent": {
      "get": {
        "tags": [
          "Running"
        ],
        "summary": "Recent activities",
        "description": "Returns the last N activities (default 5, max 20). Supports date filtering via date, from, and to params.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 5
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Single day (YYYY-MM-DD). Overrides from/to.",
              "example": "2025-02-17"
            },
            "required": false,
            "description": "Single day (YYYY-MM-DD). Overrides from/to.",
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range start, inclusive (ISO 8601)",
              "example": "2025-02-01T00:00:00Z"
            },
            "required": false,
            "description": "Range start, inclusive (ISO 8601)",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range end, inclusive (ISO 8601)",
              "example": "2025-02-28T23:59:59Z"
            },
            "required": false,
            "description": "Range end, inclusive (ISO 8601)",
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "strava_id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "distance_mi": {
                            "type": "number"
                          },
                          "duration": {
                            "type": "string"
                          },
                          "duration_s": {
                            "type": "number"
                          },
                          "pace": {
                            "type": "string"
                          },
                          "elevation_ft": {
                            "type": "number"
                          },
                          "heartrate_avg": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "heartrate_max": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "cadence": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "calories": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "suffer_score": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "city": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "state": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "polyline": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "is_race": {
                            "type": "boolean"
                          },
                          "workout_type": {
                            "type": "string"
                          },
                          "strava_url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "strava_id",
                          "name",
                          "date",
                          "distance_mi",
                          "duration",
                          "duration_s",
                          "pace",
                          "elevation_ft",
                          "heartrate_avg",
                          "heartrate_max",
                          "cadence",
                          "calories",
                          "suffer_score",
                          "city",
                          "state",
                          "polyline",
                          "is_race",
                          "workout_type",
                          "strava_url"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/running/activities": {
      "get": {
        "tags": [
          "Running"
        ],
        "summary": "List activities",
        "description": "Returns a paginated, filterable list of running activities.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "year",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "city",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "min_distance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "max_distance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "date"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "desc"
            },
[...]
