{
  "openapi": "3.1.0",
  "info": {
    "title": "Rewind API",
    "version": "1.0.0",
    "description": "Personal data aggregation API. Syncs and serves data from Strava, Last.fm, Discogs, Plex, Letterboxd, and Trakt.\n\n## Domains\n\n| Domain | Source | Description |\n|--------|--------|-------------|\n| **Listening** | Last.fm | Scrobbles, top artists/albums/tracks, streaks, stats |\n| **Running** | Strava | Activities, splits, gear, personal records, year summaries |\n| **Watching** | Plex, Letterboxd | Movies, TV shows, watch history, ratings, reviews |\n| **Collecting** | Discogs, Trakt | Vinyl/CD collection, physical media, wantlist |\n\n## Authentication\n\nAll endpoints require a Bearer token. There are two key types:\n\n- **Read keys** (`rw_live_...`) — access all GET endpoints\n- **Admin keys** (`rw_admin_...`) — access all endpoints including sync triggers and data management\n\nPass your key in the Authorization header: `Authorization: Bearer rw_live_...`\n\n## Pagination\n\nList endpoints return paginated responses:\n\n```json\n{\n  \"data\": [...],\n  \"pagination\": { \"page\": 1, \"limit\": 20, \"total\": 150, \"total_pages\": 8 }\n}\n```\n\nThe activity feed uses cursor-based pagination instead.\n\n## Quick Start\n\n```bash\n# Check the API is up\ncurl https://api.rewind.rest/v1/health\n\n# Fetch recent scrobbles (requires read key)\ncurl -H \"Authorization: Bearer rw_live_...\" \\\n  https://api.rewind.rest/v1/listening/recent\n\n# Fetch running stats\ncurl -H \"Authorization: Bearer rw_live_...\" \\\n  https://api.rewind.rest/v1/running/stats\n```\n\n## Errors\n\nAll errors follow the same envelope:\n\n```json\n{ \"error\": \"Not found\", \"status\": 404 }\n```\n\nCommon status codes: 400 (bad request), 401 (unauthorized), 404 (not found), 500 (server error).",
    "contact": {
      "url": "https://github.com/pdugan20/rewind"
    }
  },
  "servers": [
    {
      "url": "https://api.rewind.rest",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Listening",
      "description": "Last.fm scrobbles, top charts, streaks, and stats."
    },
    {
      "name": "Running",
      "description": "Strava activities, splits, gear, records, and year summaries."
    },
    {
      "name": "Watching",
      "description": "Movies, TV shows, watch history, ratings, and reviews from Plex and Letterboxd."
    },
    {
      "name": "Collecting",
      "description": "Vinyl/CD collection from Discogs and physical media from Trakt."
    },
    {
      "name": "Reading",
      "description": "Articles, highlights, and reading stats from Instapaper."
    },
    {
      "name": "Feed",
      "description": "Cross-domain activity feed with cursor-based pagination."
    },
    {
      "name": "Search",
      "description": "Full-text search across all domains."
    },
    {
      "name": "Images",
      "description": "Image proxy with on-the-fly transforms via Cloudflare Images."
    },
    {
      "name": "System",
      "description": "Health checks and sync status."
    },
    {
      "name": "Admin",
      "description": "API key management, sync triggers, and data administration. Requires admin key."
    },
    {
      "name": "Webhooks",
      "description": "Inbound webhook receivers for Strava and Plex. No auth required."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key. Read keys (rw_live_...) access GET endpoints. Admin keys (rw_admin_...) access all endpoints."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok"]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["status", "timestamp"]
      },
      "SyncHealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok"]
          },
          "domains": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "last_sync": {
                  "type": ["string", "null"],
                  "format": "date-time"
                },
                "status": {
                  "type": "string",
                  "example": "completed"
                },
                "sync_type": {
                  "type": "string",
                  "example": "scrobbles"
                },
                "items_synced": {
                  "type": ["integer", "null"]
                },
                "duration_ms": {
                  "type": ["integer", "null"]
                },
                "error": {
                  "type": ["string", "null"]
                },
                "error_rate": {
                  "type": "number",
                  "example": 0
                }
              },
              "required": [
                "last_sync",
                "status",
                "sync_type",
                "items_synced",
                "duration_ms",
                "error",
                "error_rate"
              ]
            }
          }
        },
        "required": ["status", "domains"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not found"
          },
          "status": {
            "type": "integer",
            "example": 404
          }
        },
        "required": ["error", "status"]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "example": 20
          },
          "total": {
            "type": "integer",
            "example": 150
          },
          "total_pages": {
            "type": "integer",
            "example": 8
          }
        },
        "required": ["page", "limit", "total", "total_pages"]
      },
      "ImageAttachment": {
        "type": ["object", "null"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://cdn.rewind.rest/..."
          },
          "thumbhash": {
            "type": ["string", "null"],
            "example": "YJqGPQw7d4..."
          },
          "dominant_color": {
            "type": ["string", "null"],
            "example": "#1a1a2e"
          },
          "accent_color": {
            "type": ["string", "null"],
            "example": "#e94560"
          }
        },
        "required": ["url", "thumbhash", "dominant_color", "accent_color"]
      },
      "ImageAlternativesResponse": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string"
              },
              "entity_type": {
                "type": "string"
              },
              "entity_id": {
                "type": "string"
              }
            },
            "required": ["domain", "entity_type", "entity_id"]
          },
          "current_source": {
            "type": ["string", "null"]
          },
          "is_override": {
            "type": "boolean"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string",
                  "example": "cover-art-archive"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "width": {
                  "type": ["integer", "null"]
                },
                "height": {
                  "type": ["integer", "null"]
                }
              },
              "required": ["source", "url", "width", "height"]
            }
          }
        },
        "required": ["entity", "current_source", "is_override", "alternatives"]
      },
      "ImageResultResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "entity_type": {
            "type": "string"
          },
          "entity_id": {
            "type": "string"
          },
          "image_url": {
            "type": "string",
            "format": "uri"
          },
          "source": {
            "type": "string"
          },
          "is_override": {
            "type": "boolean"
          },
          "image_version": {
            "type": "integer"
          },
          "thumbhash": {
            "type": ["string", "null"]
          },
          "dominant_color": {
            "type": ["string", "null"]
          },
          "accent_color": {
            "type": ["string", "null"]
          }
        },
        "required": [
          "domain",
          "entity_type",
          "entity_id",
          "image_url",
          "source",
          "is_override",
          "image_version",
          "thumbhash",
          "dominant_color",
          "accent_color"
        ]
      },
      "ExportResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "example": "listening"
          },
          "exported_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15T12:00:00.000Z"
          },
          "tables": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {}
            }
          }
        },
        "required": ["domain", "exported_at", "tables"]
      },
      "SyncCompletedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["completed"]
          },
          "items_synced": {
            "type": "integer",
            "example": 42
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["status", "items_synced"]
      },
      "WatchingSyncResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/WatchingPlexSyncResponse"
          },
          {
            "$ref": "#/components/schemas/WatchingLetterboxdSyncResponse"
          }
        ]
      },
      "WatchingPlexSyncResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "source": {
            "type": "string",
            "enum": ["plex"]
          },
          "movies_synced": {
            "type": "integer"
          },
          "shows_synced": {
            "type": "integer"
          }
        },
        "required": ["success", "source", "movies_synced", "shows_synced"]
      },
      "WatchingLetterboxdSyncResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "source": {
            "type": "string",
            "enum": ["letterboxd"]
          },
          "synced": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          }
        },
        "required": ["success", "source", "synced", "skipped"]
      },
      "SyncStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["completed"]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["status"]
      },
      "ActivityDeletedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["deleted"]
          },
          "strava_id": {
            "type": "integer",
            "example": 12345
          }
        },
        "required": ["status", "strava_id"]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "getHealth",
        "tags": ["System"],
        "summary": "Health check",
        "description": "Returns API health status and current timestamp.",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "example": {
                  "status": "ok",
                  "timestamp": "2026-03-18T21:00:00.000Z"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health/sync": {
      "get": {
        "operationId": "getHealthSync",
        "tags": ["System"],
        "summary": "Sync health status",
        "description": "Returns the latest sync status for each data domain, including last sync time, items synced, duration, and 24-hour error rate.",
        "responses": {
          "200": {
            "description": "Sync status for all domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncHealthResponse"
                },
                "example": {
                  "status": "ok",
                  "domains": {
                    "listening": {
                      "last_sync": "2026-03-18T21:00:00.000Z",
                      "status": "completed",
                      "sync_type": "scrobbles",
                      "items_synced": 42,
                      "duration_ms": 1250,
                      "error": null,
                      "error_rate": 0
                    },
                    "running": {
                      "last_sync": "2026-03-18T03:00:00.000Z",
                      "status": "completed",
                      "sync_type": "activities",
                      "items_synced": 3,
                      "duration_ms": 4200,
                      "error": null,
                      "error_rate": 0
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/now-playing": {
      "get": {
        "operationId": "getListeningNowPlaying",
        "tags": ["Listening"],
        "summary": "Now playing",
        "description": "Returns the currently playing or most recently scrobbled track from Last.fm.",
        "responses": {
          "200": {
            "description": "Now playing info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_playing": {
                      "type": "boolean"
                    },
                    "track": {},
                    "scrobbled_at": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["is_playing", "scrobbled_at"]
                },
                "example": {
                  "is_playing": true,
                  "track": {
                    "name": "Espresso",
                    "artist": {
                      "id": 471,
                      "name": "Sabrina Carpenter",
                      "apple_music_url": "https://music.apple.com/us/artist/sabrina-carpenter/595947033?uo=4"
                    },
                    "album": {
                      "id": 254,
                      "name": "Short n' Sweet",
                      "image": {
                        "url": "https://cdn.rewind.rest/listening/albums/254/original.jpg?width=300&height=300&fit=cover&format=auto&quality=85&v=1",
                        "thumbhash": "HBkKHQi694WIeIiAh3Z3d2eAd4B3",
                        "dominant_color": "#5c4a6d",
                        "accent_color": "#c4a8d4"
                      }
                    },
                    "url": "https://www.last.fm/music/Sabrina+Carpenter/_/Espresso",
                    "apple_music_url": "https://music.apple.com/us/album/espresso/1745069032?i=1745069234&uo=4",
                    "preview_url": null
                  },
                  "scrobbled_at": "2026-03-18T22:30:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/recent": {
      "get": {
        "operationId": "getListeningRecent",
        "tags": ["Listening"],
        "summary": "Recent scrobbles",
        "description": "Returns the most recent scrobbles. Supports date filtering via date, from, and to params.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Single day (YYYY-MM-DD). Overrides from/to.",
              "example": "2025-02-17"
            },
            "required": false,
            "description": "Single day (YYYY-MM-DD). Overrides from/to.",
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range start, inclusive (ISO 8601)",
              "example": "2025-02-01T00:00:00Z"
            },
            "required": false,
            "description": "Range start, inclusive (ISO 8601)",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range end, inclusive (ISO 8601)",
              "example": "2025-02-28T23:59:59Z"
            },
            "required": false,
            "description": "Range end, inclusive (ISO 8601)",
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent scrobbles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "track": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": ["string", "null"]
                              },
                              "apple_music_url": {
                                "type": ["string", "null"]
                              },
                              "preview_url": {
                                "type": ["string", "null"]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "url",
                              "apple_music_url",
                              "preview_url"
                            ]
                          },
                          "artist": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "name"]
                          },
                          "album": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": ["number", "null"]
                              },
                              "name": {
                                "type": ["string", "null"]
                              },
                              "image": {}
                            },
                            "required": ["id", "name"]
                          },
                          "scrobbled_at": {
                            "type": "string"
                          }
                        },
                        "required": ["track", "artist", "album", "scrobbled_at"]
                      }
                    }
                  },
                  "required": ["data"]
                },
                "example": {
                  "data": [
                    {
                      "track": {
                        "id": 1001,
                        "name": "bad idea right?",
                        "url": "https://www.last.fm/music/Olivia+Rodrigo/_/bad+idea+right%3F",
                        "apple_music_url": null,
                        "preview_url": null
                      },
                      "artist": {
                        "id": 37,
                        "name": "Olivia Rodrigo"
                      },
                      "album": {
                        "id": 20,
                        "name": "GUTS",
                        "image": {
                          "url": "https://cdn.rewind.rest/listening/albums/20/original.jpg?width=300&height=300&fit=cover&format=auto&quality=85&v=1",
                          "thumbhash": "HBkKHQi694WIeIiAh3Z3d2eAd4B3",
                          "dominant_color": "#5c4a6d",
                          "accent_color": "#c4a8d4"
                        }
                      },
                      "scrobbled_at": "2026-03-18T22:14:04.000Z"
                    },
                    {
                      "track": {
                        "id": 1002,
                        "name": "Sabotage",
                        "url": "https://www.last.fm/music/Beastie+Boys/_/Sabotage",
                        "apple_music_url": null,
                        "preview_url": null
                      },
                      "artist": {
                        "id": 130,
                        "name": "Beastie Boys"
                      },
                      "album": {
                        "id": 500,
                        "name": "Ill Communication",
                        "image": null
                      },
                      "scrobbled_at": "2026-03-18T22:10:00.000Z"
                    },
                    {
                      "track": {
                        "id": 1003,
                        "name": "Come as You Are",
                        "url": "https://www.last.fm/music/Nirvana/_/Come+as+You+Are",
                        "apple_music_url": "https://music.apple.com/us/album/come-as-you-are/1440783617?i=1440783636&uo=4",
                        "preview_url": null
                      },
                      "artist": {
                        "id": 189,
                        "name": "Nirvana"
                      },
                      "album": {
                        "id": 300,
                        "name": "Nevermind",
                        "image": null
                      },
                      "scrobbled_at": "2026-03-18T22:05:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/top/artists": {
      "get": {
        "operationId": "getListeningTopArtists",
        "tags": ["Listening"],
        "summary": "Top artists",
        "description": "Returns top artists for a given time period.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7day",
                "1month",
                "3month",
                "6month",
                "12month",
                "overall"
              ],
              "default": "7day",
              "example": "7day"
            },
            "required": false,
            "name": "period",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Top artists list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": "number"
                          },
                          "image": {},
                          "url": {
                            "type": "string"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "preview_url": {
                            "type": ["string", "null"]
                          }
                        },
                        "required": [
                          "rank",
                          "id",
                          "name",
                          "detail",
                          "playcount",
                          "url",
                          "apple_music_url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": ["period", "data", "pagination"]
                },
                "example": {
                  "period": "overall",
                  "data": [
                    {
                      "rank": 1,
                      "id": 130,
                      "name": "Beastie Boys",
                      "detail": "",
                      "playcount": 4011,
                      "genre": "Hip-Hop",
                      "image": {
                        "url": "https://cdn.rewind.rest/listening/artists/130/original.jpg?width=300&height=300&fit=cover&format=auto&quality=85&v=1",
                        "thumbhash": "GggGBwDN+CSBp7VXcmVmlyZ2BgAAAAAA",
                        "dominant_color": "#191919",
                        "accent_color": "#7e7e7e"
                      },
                      "url": "https://www.last.fm/music/Beastie+Boys",
                      "apple_music_url": null
                    },
                    {
                      "rank": 2,
                      "id": 189,
                      "name": "Nirvana",
                      "detail": "",
                      "playcount": 2179,
                      "genre": "Grunge",
                      "image": null,
                      "url": "https://www.last.fm/music/Nirvana",
                      "apple_music_url": "https://music.apple.com/us/artist/nirvana/112018?uo=4"
                    },
                    {
                      "rank": 3,
                      "id": 92,
                      "name": "Taylor Swift",
                      "detail": "",
                      "playcount": 2164,
                      "genre": "Country",
                      "image": null,
                      "url": "https://www.last.fm/music/Taylor+Swift",
                      "apple_music_url": "https://music.apple.com/us/artist/taylor-swift/159260351?uo=4"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "limit": 20,
                    "total": 29,
                    "total_pages": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/top/albums": {
      "get": {
        "operationId": "getListeningTopAlbums",
        "tags": ["Listening"],
        "summary": "Top albums",
        "description": "Returns top albums for a given time period.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7day",
                "1month",
                "3month",
                "6month",
                "12month",
                "overall"
              ],
              "default": "7day",
              "example": "7day"
            },
            "required": false,
            "name": "period",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Top albums list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": "number"
                          },
                          "image": {},
                          "url": {
                            "type": "string"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "preview_url": {
                            "type": ["string", "null"]
                          }
                        },
                        "required": [
                          "rank",
                          "id",
                          "name",
                          "detail",
                          "playcount",
                          "url",
                          "apple_music_url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": ["period", "data", "pagination"]
                },
                "example": {
                  "period": "overall",
                  "data": [
                    {
                      "rank": 1,
                      "id": 300,
                      "name": "MTV Unplugged in New York",
                      "detail": "Nirvana",
                      "playcount": 428,
                      "image": {
                        "url": "https://cdn.rewind.rest/listening/albums/300/original.jpg?width=300&height=300&fit=cover&format=auto&quality=85&v=1",
                        "thumbhash": "HBkKHQi694WIeIiAh3Z3d2eAd4B3",
                        "dominant_color": "#5c4a6d",
                        "accent_color": "#c4a8d4"
                      },
                      "url": "https://www.last.fm/music/Nirvana/MTV+Unplugged+in+New+York",
                      "apple_music_url": null
                    },
                    {
                      "rank": 2,
                      "id": 500,
                      "name": "Hot Sauce Committee Part Two",
                      "detail": "Beastie Boys",
                      "playcount": 534,
                      "image": null,
                      "url": "https://www.last.fm/music/Beastie+Boys/Hot+Sauce+Committee+Part+Two",
                      "apple_music_url": null
                    },
                    {
                      "rank": 3,
                      "id": 20,
                      "name": "GUTS",
                      "detail": "Olivia Rodrigo",
                      "playcount": 32,
                      "image": null,
                      "url": "https://www.last.fm/music/Olivia+Rodrigo/GUTS",
                      "apple_music_url": null
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "limit": 20,
                    "total": 29,
                    "total_pages": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/top/tracks": {
      "get": {
        "operationId": "getListeningTopTracks",
        "tags": ["Listening"],
        "summary": "Top tracks",
        "description": "Returns top tracks for a given time period.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7day",
                "1month",
                "3month",
                "6month",
                "12month",
                "overall"
              ],
              "default": "7day",
              "example": "7day"
            },
            "required": false,
            "name": "period",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Top tracks list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": "number"
                          },
                          "image": {},
                          "url": {
                            "type": "string"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "preview_url": {
                            "type": ["string", "null"]
                          }
                        },
                        "required": [
                          "rank",
                          "id",
                          "name",
                          "detail",
                          "playcount",
                          "url",
                          "apple_music_url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": ["period", "data", "pagination"]
                },
                "example": {
                  "period": "overall",
                  "data": [
                    {
                      "rank": 1,
                      "id": 595,
                      "name": "Come as You Are",
                      "detail": "Nirvana",
                      "playcount": 101,
                      "image": null,
                      "url": "https://www.last.fm/music/Nirvana/_/Come+as+You+Are",
                      "apple_music_url": "https://music.apple.com/us/album/come-as-you-are/1440783617?i=1440783636&uo=4",
                      "preview_url": null
                    },
                    {
                      "rank": 2,
                      "id": 1050,
                      "name": "bad idea right?",
                      "detail": "Olivia Rodrigo",
                      "playcount": 82,
                      "image": null,
                      "url": "https://www.last.fm/music/Olivia+Rodrigo/_/bad+idea+right%3F",
                      "apple_music_url": null,
                      "preview_url": null
                    },
                    {
                      "rank": 3,
                      "id": 2001,
                      "name": "Espresso",
                      "detail": "Sabrina Carpenter",
                      "playcount": 68,
                      "image": null,
                      "url": "https://www.last.fm/music/Sabrina+Carpenter/_/Espresso",
                      "apple_music_url": null,
                      "preview_url": null
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "limit": 20,
                    "total": 13,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/stats": {
      "get": {
        "operationId": "getListeningStats",
        "tags": ["Listening"],
        "summary": "Listening stats",
        "description": "Returns listening statistics. Supports optional date filtering to scope stats to a time period.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Single day (YYYY-MM-DD). Overrides from/to.",
              "example": "2025-02-17"
            },
            "required": false,
            "description": "Single day (YYYY-MM-DD). Overrides from/to.",
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range start, inclusive (ISO 8601)",
              "example": "2025-02-01T00:00:00Z"
            },
            "required": false,
            "description": "Range start, inclusive (ISO 8601)",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range end, inclusive (ISO 8601)",
              "example": "2025-02-28T23:59:59Z"
            },
            "required": false,
            "description": "Range end, inclusive (ISO 8601)",
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Listening statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_scrobbles": {
                      "type": "number"
                    },
                    "unique_artists": {
                      "type": "number"
                    },
                    "unique_albums": {
                      "type": "number"
                    },
                    "unique_tracks": {
                      "type": "number"
                    },
                    "registered_date": {
                      "type": ["string", "null"]
                    },
                    "years_tracking": {
                      "type": "number"
                    },
                    "scrobbles_per_day": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "total_scrobbles",
                    "unique_artists",
                    "unique_albums",
                    "unique_tracks",
                    "registered_date",
                    "years_tracking",
                    "scrobbles_per_day"
                  ]
                },
                "example": {
                  "total_scrobbles": 123867,
                  "unique_artists": 5278,
                  "unique_albums": 11168,
                  "unique_tracks": 28405,
                  "registered_date": "2012-02-09T16:01:17.000Z",
                  "years_tracking": 14,
                  "scrobbles_per_day": 24
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/history": {
      "get": {
        "operationId": "getListeningHistory",
        "tags": ["Listening"],
        "summary": "Listening history",
        "description": "Returns paginated scrobble history with optional filters.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "example": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "2024-01-01T00:00:00.000Z"
            },
            "required": false,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "2024-12-31T23:59:59.999Z"
            },
            "required": false,
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "Radiohead"
            },
            "required": false,
            "name": "artist",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "OK Computer"
            },
            "required": false,
            "name": "album",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Scrobble history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "track": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": ["string", "null"]
                              },
                              "apple_music_url": {
                                "type": ["string", "null"]
                              },
                              "preview_url": {
                                "type": ["string", "null"]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "url",
                              "apple_music_url",
                              "preview_url"
                            ]
                          },
                          "artist": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "name"]
                          },
                          "album": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": ["number", "null"]
                              },
                              "name": {
                                "type": ["string", "null"]
                              },
                              "image": {}
                            },
                            "required": ["id", "name"]
                          },
                          "scrobbled_at": {
                            "type": "string"
                          }
                        },
                        "required": ["track", "artist", "album", "scrobbled_at"]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": ["data", "pagination"]
                },
                "example": {
                  "data": [
                    {
                      "track": {
                        "id": 1001,
                        "name": "bad idea right?",
                        "url": "https://www.last.fm/music/Olivia+Rodrigo/_/bad+idea+right%3F",
                        "apple_music_url": null,
                        "preview_url": null
                      },
                      "artist": {
                        "id": 37,
                        "name": "Olivia Rodrigo"
                      },
                      "album": {
                        "id": 20,
                        "name": "GUTS",
                        "image": {
                          "url": "https://cdn.rewind.rest/listening/albums/20/original.jpg?width=300&height=300&fit=cover&format=auto&quality=85&v=1",
                          "thumbhash": "HBkKHQi694WIeIiAh3Z3d2eAd4B3",
                          "dominant_color": "#5c4a6d",
                          "accent_color": "#c4a8d4"
                        }
                      },
                      "scrobbled_at": "2026-03-18T22:14:04.000Z"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "limit": 50,
                    "total": 123867,
                    "total_pages": 2478
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/artists": {
      "get": {
        "operationId": "listListeningArtists",
        "tags": ["Listening"],
        "summary": "Browse artists",
        "description": "Returns paginated list of all artists.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "example": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["playcount", "name"],
              "default": "playcount",
              "example": "playcount"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc",
              "example": "desc"
            },
            "required": false,
            "name": "order",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "Radiohead"
            },
            "required": false,
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": ["number", "null"]
                          },
                          "genre": {
                            "type": ["string", "null"]
                          },
                          "url": {
                            "type": "string"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "playcount",
                          "genre",
                          "url",
                          "apple_music_url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": ["data", "pagination"]
                },
                "example": {
                  "data": [
                    {
                      "id": 130,
                      "name": "Beastie Boys",
                      "playcount": 4011,
                      "genre": "Hip-Hop",
                      "url": "https://www.last.fm/music/Beastie+Boys",
                      "apple_music_url": null,
                      "image": {
                        "url": "https://cdn.rewind.rest/listening/artists/130/original.jpg?width=300&height=300&fit=cover&format=auto&quality=85&v=1",
                        "thumbhash": "GggGBwDN+CSBp7VXcmVmlyZ2BgAAAAAA",
                        "dominant_color": "#191919",
                        "accent_color": "#7e7e7e"
                      }
                    },
                    {
                      "id": 189,
                      "name": "Nirvana",
                      "playcount": 2179,
                      "genre": "Grunge",
                      "url": "https://www.last.fm/music/Nirvana",
                      "apple_music_url": "https://music.apple.com/us/artist/nirvana/112018?uo=4",
                      "image": null
                    },
                    {
                      "id": 92,
                      "name": "Taylor Swift",
                      "playcount": 2164,
                      "genre": "Country",
                      "url": "https://www.last.fm/music/Taylor+Swift",
                      "apple_music_url": "https://music.apple.com/us/artist/taylor-swift/159260351?uo=4",
                      "image": null
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "limit": 20,
                    "total": 5278,
                    "total_pages": 264
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/albums": {
      "get": {
        "operationId": "listListeningAlbums",
        "tags": ["Listening"],
        "summary": "Browse albums",
        "description": "Returns paginated list of all albums.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "example": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["playcount", "name", "recent"],
              "default": "playcount",
              "example": "playcount"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc",
              "example": "desc"
            },
            "required": false,
            "name": "order",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "Radiohead"
            },
            "required": false,
            "name": "artist",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "OK Computer"
            },
            "required": false,
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Album list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "artist": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "name"]
                          },
                          "playcount": {
                            "type": ["number", "null"]
                          },
                          "url": {
                            "type": "string"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "artist",
                          "playcount",
                          "url",
                          "apple_music_url"
                        ]
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": ["data", "pagination"]
                },
                "example": {
                  "data": [
                    {
                      "id": 300,
                      "name": "Nevermind",
                      "artist": {
                        "id": 189,
                        "name": "Nirvana"
                      },
                      "playcount": 333,
                      "url": "https://www.last.fm/music/Nirvana/Nevermind",
                      "apple_music_url": null,
                      "image": null
                    },
                    {
                      "id": 20,
                      "name": "GUTS",
                      "artist": {
                        "id": 37,
                        "name": "Olivia Rodrigo"
                      },
                      "playcount": 32,
                      "url": "https://www.last.fm/music/Olivia+Rodrigo/GUTS",
                      "apple_music_url": null,
                      "image": null
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "limit": 20,
                    "total": 11168,
                    "total_pages": 559
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/artists/{id}": {
      "get": {
        "operationId": "getListeningArtist",
        "tags": ["Listening"],
        "summary": "Artist detail",
        "description": "Returns detailed information about an artist including top albums and tracks.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "42"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Artist detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "mbid": {
                      "type": ["string", "null"]
                    },
                    "url": {
                      "type": ["string", "null"]
                    },
                    "apple_music_url": {
                      "type": ["string", "null"]
                    },
                    "playcount": {
                      "type": "number"
                    },
                    "scrobble_count": {
                      "type": "number"
                    },
                    "genre": {
                      "type": ["string", "null"]
                    },
                    "tags": {
                      "type": ["array", "null"],
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Rock"
                          },
                          "count": {
                            "type": "number",
                            "example": 100
                          }
                        },
                        "required": ["name", "count"]
                      }
                    },
                    "image": {},
                    "top_albums": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "playcount": {
                            "type": "number"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "playcount",
                          "apple_music_url"
                        ]
                      }
                    },
                    "top_tracks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scrobble_count": {
                            "type": "number"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "preview_url": {
                            "type": ["string", "null"]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "scrobble_count",
                          "apple_music_url",
                          "preview_url"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mbid",
                    "url",
                    "apple_music_url",
                    "playcount",
                    "scrobble_count",
                    "genre",
                    "tags",
                    "top_albums",
                    "top_tracks"
                  ]
                },
                "example": {
                  "id": 189,
                  "name": "Nirvana",
                  "mbid": null,
                  "url": "https://www.last.fm/music/Nirvana",
                  "apple_music_url": "https://music.apple.com/us/artist/nirvana/112018?uo=4",
                  "playcount": 2179,
                  "scrobble_count": 2193,
                  "first_scrobbled_at": "2012-05-02T18:32:15.000Z",
                  "genre": "Grunge",
                  "tags": [
                    {
                      "name": "Grunge",
                      "count": 100
                    },
                    {
                      "name": "Rock",
                      "count": 49
                    }
                  ],
                  "image": {
                    "url": "https://cdn.rewind.rest/listening/artists/189/original.jpg?width=300&height=300&fit=cover&format=auto&quality=85&v=1",
                    "thumbhash": "GggGBwDN+CSBp7VXcmVmlyZ2BgAAAAAA",
                    "dominant_color": "#191919",
                    "accent_color": "#7e7e7e"
                  },
                  "top_albums": [
                    {
                      "id": 300,
                      "name": "MTV Unplugged in New York",
                      "playcount": 428,
                      "apple_music_url": null,
                      "image": null
                    }
                  ],
                  "top_tracks": [
                    {
                      "id": 595,
                      "name": "Come as You Are",
                      "scrobble_count": 101,
                      "apple_music_url": "https://music.apple.com/us/album/come-as-you-are/1440783617?i=1440783636&uo=4",
                      "preview_url": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/albums/{id}": {
      "get": {
        "operationId": "getListeningAlbum",
        "tags": ["Listening"],
        "summary": "Album detail",
        "description": "Returns detailed information about an album including tracks.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "42"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Album detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "mbid": {
                      "type": ["string", "null"]
                    },
                    "url": {
                      "type": ["string", "null"]
                    },
                    "apple_music_url": {
                      "type": ["string", "null"]
                    },
                    "playcount": {
                      "type": "number"
                    },
                    "image": {},
                    "artist": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": ["id", "name"]
                    },
                    "tracks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scrobble_count": {
                            "type": "number"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "preview_url": {
                            "type": ["string", "null"]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "scrobble_count",
                          "apple_music_url",
                          "preview_url"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mbid",
                    "url",
                    "apple_music_url",
                    "playcount",
                    "artist",
                    "tracks"
                  ]
                },
                "example": {
                  "id": 20,
                  "name": "GUTS",
                  "mbid": null,
                  "artist": {
                    "id": 37,
                    "name": "Olivia Rodrigo"
                  },
                  "playcount": 32,
                  "url": "https://www.last.fm/music/Olivia+Rodrigo/GUTS",
                  "apple_music_url": null,
                  "image": {
                    "url": "https://cdn.rewind.rest/listening/albums/20/original.jpg?width=300&height=300&fit=cover&format=auto&quality=85&v=1",
                    "thumbhash": "HBkKHQi694WIeIiAh3Z3d2eAd4B3",
                    "dominant_color": "#5c4a6d",
                    "accent_color": "#c4a8d4"
                  },
                  "tracks": [
                    {
                      "id": 1001,
                      "name": "bad idea right?",
                      "scrobble_count": 82,
                      "apple_music_url": null,
                      "preview_url": null
                    },
                    {
                      "id": 1002,
                      "name": "vampire",
                      "scrobble_count": 57,
                      "apple_music_url": null,
                      "preview_url": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/calendar": {
      "get": {
        "operationId": "getListeningCalendar",
        "tags": ["Listening"],
        "summary": "Listening calendar",
        "description": "Returns daily scrobble counts for a given year.",
        "parameters": [
          {
            "schema": {
              "type": ["integer", "null"],
              "example": 2024
            },
            "required": false,
            "name": "year",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "number"
                    },
                    "days": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "count": {
                            "type": "number"
                          }
                        },
                        "required": ["date", "count"]
                      }
                    },
                    "total": {
                      "type": "number"
                    },
                    "max_day": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string"
                        },
                        "count": {
                          "type": "number"
                        }
                      },
                      "required": ["date", "count"]
                    }
                  },
                  "required": ["year", "days", "total", "max_day"]
                },
                "example": {
                  "year": 2026,
                  "days": [
                    {
                      "date": "2026-03-01",
                      "count": 15
                    },
                    {
                      "date": "2026-03-02",
                      "count": 22
                    },
                    {
                      "date": "2026-03-03",
                      "count": 8
                    }
                  ],
                  "total": 45,
                  "max_day": {
                    "date": "2026-03-02",
                    "count": 22
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/trends": {
      "get": {
        "operationId": "getListeningTrends",
        "tags": ["Listening"],
        "summary": "Listening trends",
        "description": "Returns monthly trend data for a given metric.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["scrobbles", "artists", "albums", "tracks"],
              "default": "scrobbles",
              "example": "scrobbles"
            },
            "required": false,
            "name": "metric",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "2024-01-01T00:00:00.000Z"
            },
            "required": false,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "example": "2024-12-31T23:59:59.999Z"
            },
            "required": false,
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Trend data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metric": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "period": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          }
                        },
                        "required": ["period", "value"]
                      }
                    }
                  },
                  "required": ["metric", "data"]
                },
                "example": {
                  "metric": "scrobbles",
                  "data": [
                    {
                      "period": "2026-01",
                      "value": 552
                    },
                    {
                      "period": "2026-02",
                      "value": 501
                    },
                    {
                      "period": "2026-03",
                      "value": 387
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/streaks": {
      "get": {
        "operationId": "getListeningStreaks",
        "tags": ["Listening"],
        "summary": "Listening streaks",
        "description": "Returns current and longest listening streaks.",
        "responses": {
          "200": {
            "description": "Streak data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current": {
                      "type": "object",
                      "properties": {
                        "days": {
                          "type": "number"
                        },
                        "start_date": {
                          "type": ["string", "null"]
                        },
                        "total_scrobbles": {
                          "type": "number"
                        }
                      },
                      "required": ["days", "start_date", "total_scrobbles"]
                    },
                    "longest": {
                      "type": "object",
                      "properties": {
                        "days": {
                          "type": "number"
                        },
                        "start_date": {
                          "type": ["string", "null"]
                        },
                        "end_date": {
                          "type": ["string", "null"]
                        },
                        "total_scrobbles": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "days",
                        "start_date",
                        "end_date",
                        "total_scrobbles"
                      ]
                    }
                  },
                  "required": ["current", "longest"]
                },
                "example": {
                  "current": {
                    "days": 3,
                    "start_date": "2026-03-16",
                    "total_scrobbles": 65
                  },
                  "longest": {
                    "days": 62,
                    "start_date": "2017-01-02",
                    "end_date": "2017-03-04",
                    "total_scrobbles": 3535
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/year/{year}": {
      "get": {
        "operationId": "getListeningYearInReview",
        "tags": ["Listening"],
        "summary": "Year in review",
        "description": "Returns year-in-review listening data. Optionally pass ?month=N to scope to a single month.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "2024"
            },
            "required": true,
            "name": "year",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12,
              "example": 3,
              "description": "Optional month (1-12) to scope results to a single month"
            },
            "required": false,
            "description": "Optional month (1-12) to scope results to a single month",
            "name": "month",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Year in review data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "number"
                    },
                    "month": {
                      "type": "number"
                    },
                    "total_scrobbles": {
                      "type": "number"
                    },
                    "unique_artists": {
                      "type": "number"
                    },
                    "unique_albums": {
                      "type": "number"
                    },
                    "unique_tracks": {
                      "type": "number"
                    },
                    "top_artists": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scrobbles": {
                            "type": "number"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "scrobbles",
                          "apple_music_url"
                        ]
                      }
                    },
                    "top_albums": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "artist": {
                            "type": "string"
                          },
                          "scrobbles": {
                            "type": "number"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "image": {}
                        },
                        "required": [
                          "id",
                          "name",
                          "artist",
                          "scrobbles",
                          "apple_music_url"
                        ]
                      }
                    },
                    "top_tracks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "artist": {
                            "type": "string"
                          },
                          "scrobbles": {
                            "type": "number"
                          },
                          "apple_music_url": {
                            "type": ["string", "null"]
                          },
                          "preview_url": {
                            "type": ["string", "null"]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "artist",
                          "scrobbles",
                          "apple_music_url",
                          "preview_url"
                        ]
                      }
                    },
                    "monthly": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "month": {
                            "type": "string"
                          },
                          "scrobbles": {
                            "type": "number"
                          },
                          "unique_artists": {
                            "type": "number"
                          },
                          "unique_albums": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "month",
                          "scrobbles",
                          "unique_artists",
                          "unique_albums"
                        ]
                      }
                    }
                  },
                  "required": [
                    "year",
                    "total_scrobbles",
                    "unique_artists",
                    "unique_albums",
                    "unique_tracks",
                    "top_artists",
                    "top_albums",
                    "top_tracks",
                    "monthly"
                  ]
                },
                "example": {
                  "year": 2025,
                  "total_scrobbles": 8500,
                  "unique_artists": 420,
                  "unique_albums": 890,
                  "unique_tracks": 3200,
                  "top_artists": [
                    {
                      "id": 92,
                      "name": "Taylor Swift",
                      "scrobbles": 350,
                      "apple_music_url": "https://music.apple.com/us/artist/taylor-swift/159260351?uo=4",
                      "image": null
                    },
                    {
                      "id": 189,
                      "name": "Nirvana",
                      "scrobbles": 280,
                      "apple_music_url": "https://music.apple.com/us/artist/nirvana/112018?uo=4",
                      "image": null
                    }
                  ],
                  "top_albums": [
                    {
                      "id": 20,
                      "name": "GUTS",
                      "artist": "Olivia Rodrigo",
                      "scrobbles": 120,
                      "apple_music_url": null,
                      "image": null
                    },
                    {
                      "id": 300,
                      "name": "MTV Unplugged in New York",
                      "artist": "Nirvana",
                      "scrobbles": 95,
                      "apple_music_url": null,
                      "image": null
                    }
                  ],
                  "top_tracks": [
                    {
                      "id": 2001,
                      "name": "Espresso",
                      "artist": "Sabrina Carpenter",
                      "scrobbles": 68,
                      "apple_music_url": null,
                      "preview_url": null
                    },
                    {
                      "id": 1001,
                      "name": "bad idea right?",
                      "artist": "Olivia Rodrigo",
                      "scrobbles": 55,
                      "apple_music_url": null,
                      "preview_url": null
                    }
                  ],
                  "monthly": [
                    {
                      "month": "2025-01",
                      "scrobbles": 720,
                      "unique_artists": 85,
                      "unique_albums": 140
                    },
                    {
                      "month": "2025-02",
                      "scrobbles": 680,
                      "unique_artists": 78,
                      "unique_albums": 125
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listening/genres": {
      "get": {
        "operationId": "getListeningGenres",
        "tags": ["Listening"],
        "summary": "Genre breakdown",
        "description": "Returns genre breakdown over time, grouped by period. Designed for stacked bar charts.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Single day (YYYY-MM-DD). Overrides from/to.",
              "example": "2025-02-17"
            },
            "required": false,
            "description": "Single day (YYYY-MM-DD). Overrides from/to.",
            "name": "date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range start, inclusive (ISO 8601)",
              "example": "2025-02-01T00:00:00Z"
            },
            "required": false,
            "description": "Range start, inclusive (ISO 8601)",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Range end, inclusive (ISO 8601)",
              "example": "2025-02-28T23:59:59Z"
            },
            "required": false,
            "description": "Range end, inclusive (ISO 8601)",
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["week", "month", "year"],
              "default": "month",
              "example": "month"
            },
            "required": false,
            "name": "group_by",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "example": 10,
              "description": "Max genres to return (rest grouped as \"Other\")"
            },
            "required": false,
            "description": "Max genres to return (rest grouped as \"Other\")",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Genre breakdown by period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "period": {
                            "type": "string",
                            "example": "2025-01"
                          },
                          "genres": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "number"
                            },
                            "example": {
                              "Rock": 245,
                              "Hip-Hop": 112,
                              "Electronic": 87,
                              "Other": 89
                            }
                          },
                          "total": {
                            "type": "number",
                            "example": 637
                          }
                        },
                        "required": ["period", "genres", "total"]
                      }
                    }
                  },
                  "required": ["data"]
                },
                "example": {
                  "data": [
                    {
                      "period": "2026-01",
                      "genres": {
                        "Rock": 245,
                        "Hip-Hop": 112,
                        "Electronic": 87,
                        "Other": 89
                      },
                      "total": 533
                    },
                    {
                      "period": "2026-02",
                      "genres": {
                        "Pop": 180,
                        "Rock": 150,
                        "Hip-Hop": 95,
                        "Other": 76
[...]
